@{
    ViewData["Title"] = "Create Book";
}
@model ProductVM

<div class="card shadow border-0 mt-4 mb-5 col-9 offset-2">
    <div class="card-header">
        <div class="row col-12 text-center">
            <h2 class="text-primary">Create Category</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="p-3">

                <div class="mt-2 row col-sm-12 col-md-6 offset-md-3 form-floating">
                    <input asp-for="Product.Title" type="text" class="form-control" />
                    <label asp-for="Product.Title" class=""></label>
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3 col-sm-12 col-md-6 offset-md-3 form-floating">
                    <input asp-for="Product.Author" class="form-control"/>
                    <label asp-for="Product.Author" class=""></label>
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3 col-sm-12 col-md-6 offset-md-3 form-floating">
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select pb-2">
                        <option selected disabled>--Choose Category--</option>
                    </select>
                    <label asp-for="Product.CategoryId" class=""></label>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3 col-sm-12 col-md-6 offset-md-3 form-floating">
                    <input type="file" class="form-control" />
                    <label asp-for="Product.ImageURL" class="">Cover Art URL</label>
                    <span asp-validation-for="Product.ImageURL" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3 col-sm-12 col-md-6 offset-md-3 form-floating">
                    <textarea asp-for="Product.Description" class="form-control" style="height: 10rem"></textarea>
                    <label asp-for="Product.Description" class=""></label>
                    <span class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3 col-sm-12 col-md-6 offset-md-3 form-floating">
                    <input asp-for="Product.ISBN" class="form-control" />
                    <label asp-for="Product.ISBN" class=""></label>
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-3 col-sm-12 col-md-6 offset-md-3 form-floating">
                    <input asp-for="Product.Price" class="form-control" />
                    <label asp-for="Product.Price" class=""></label>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3 offset-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">Back</a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}