@{
    ViewData["Title"] = "Delete Category";
}
@model Product


<div class="card shadow mt-4 mb-3">
    <div class="card-header">
        <div class="row col-12 text-center">
            <h2 class="text-danger">Delete Book</h2>
            <h4 class="text-warning">This cannot be undone</h4>
        </div>
    </div>
    <div class="row m-3">
        <div class="card-body m-0 p-0 col-7 offset-1">
            <form method="post" class="">
                <input asp-for="Id" hidden />
                <input asp-for="ImageURL" hidden />
                <input asp-for="Title" hidden/>
                <div class="p-3">

                    @*TITLE*@
                    <div class="mt-2 ms-0 row col-sm-12 col-md-12 form-floating">
                        <input asp-for="Title" type="text" class="form-control" placeholder="Title" disabled />
                        <label asp-for="Title" class=""></label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    @*AUTHOR*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 form-floating">
                        <input asp-for="Author" class="form-control" placeholder="Author" disabled />
                        <label asp-for="Author" class=""></label>
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    @*CATEGORY SELECTION*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 form-floating">
                        <select asp-for="CategoryId" class="form-select pb-2" disabled>
                            <option selected disabled>@Model.Category?.Name</option>
                        </select>
                        <label asp-for="CategoryId" class="">Category</label>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    @*COVER ART*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="ImageURL" class="pe-3 pt-2 bg-opacity-10 form-text text-muted">@($"Cover Art: {Model.ImageURL}")</label>
                        <input name="file" type="file" class="form-control" placeholder="Cover Art" disabled value="@Model.ImageURL" />
                    </div>
                    @*DESCRIPTION*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="Description" class="me-3 text-muted form-text"></label>
                        <textarea id="editor" asp-for="Description" class="form-control" style="height: 10rem">@Html.Raw(Model.Description)</textarea>
                    </div>
                    @*ISBN*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 form-floating">
                        <input asp-for="ISBN" class="form-control" placeholder="ISBN" disabled />
                        <label asp-for="ISBN" class=""></label>
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                    @*PRICE*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 input-group" style="width: 67%">
                        <span class="input-group-text">$</span>
                        <div class="form-floating">
                            <input asp-for="Price" class="form-control" placeholder="Price" disabled />
                            <label asp-for="Price" class=""></label>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    @*SUBMIT / BACK*@
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div id="confirmDeleteSpan" style="display:none" class="">
                                    <div class="row gap-1">
                                        <button type="submit" class="btn btn-danger form-control col">Yes</button>
                                        <a href="#!" class="btn btn-primary form-control col"
                                           onclick="confirmDelete(false)">No</a>
                                    </div>
                                    
                                    <p class="text-center mt-1 text-danger">Are you sure you want to delete?</p>
                                </div>
                                <div id="deleteSpan">
                                    <a type="button" href="#!" class="btn btn-danger form-control"
                                           onclick="confirmDelete(true)">Delete</a>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-6">
                                <a href="#!" onclick="history.go(-1)" class="btn btn-outline-primary form-control">Back</a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-3 ms-1">
            <img src="~/@(Model.ImageURL)" width="100%" />
        </div>
    </div>
    
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
        function confirmDelete(isDeleteClicked) {
            var deleteSpan = 'deleteSpan';
            var confirmDeleteSpan = 'confirmDeleteSpan';

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }

    </script>

    <script>
        tinymce.init({
            readonly: true,
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}
