@model ProductVM
@{
    bool create = @Model.Product.Id == 0;
}
@{
    ViewData["Title"] = $"{(create ? "Create" : "Update")} Book";
}




<div class="card shadow mt-4 mb-3">
    <div class="card-header">
        <div class="row col-12 text-center">
            <h2 class="text-primary">@(create ? "Create" : "Update") Book</h2>
        </div>
    </div>
    <div class="row m-3">
        <div class="card-body m-0 p-0 col-7 offset-1">
            <form method="post" class="" enctype="multipart/form-data">
                <input asp-for="Product.Id" hidden/>
                <input asp-for="Product.ImageURL" hidden />
                <div class="p-3">
                    
                    @*TITLE*@
                    <div class="mt-2 ms-0 row col-sm-12 col-md-12 form-floating">
                        <input asp-for="Product.Title" type="text" class="form-control" placeholder="Title"/>
                        <label asp-for="Product.Title" class=""></label>
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                    @*AUTHOR*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 form-floating">
                        <input asp-for="Product.Author" class="form-control" placeholder="Author"/>
                        <label asp-for="Product.Author" class=""></label>
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                    @*CATEGORY SELECTION*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="CategoryIds" class="text-muted">Category</label>
                        <select asp-for="CategoryIds" asp-items="@Model.CategoryList" class="form-select pb-2" multiple="multiple" data-placeholder="Choose a category" >
                        </select>

                        <span asp-validation-for="Product.Categories" class="text-danger"></span>
                    </div>
                    @*COVER ART*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="Product.ImageURL" class="pe-3 pt-2 bg-opacity-10 form-text text-warning">Image must be 450 x 720 or will be resized</label>
                        <input name="file" type="file" accept="image/*" class="form-control" placeholder="Cover Art"/>
                    </div>
                    @*DESCRIPTION*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="Product.Description" class="me-3 text-muted form-text"></label>
                        <textarea id="editor" asp-for="Product.Description" class="form-control" style="height: 10rem"></textarea>
                    </div>
                    @*ISBN*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 form-floating">
                        <input asp-for="Product.ISBN" class="form-control" placeholder="ISBN"/>
                        <label asp-for="Product.ISBN" class=""></label>
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>
                    @*PRICE*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 input-group" style="width: 67%">
                        <span class="input-group-text">$</span>
                        <div class="form-floating">
                            <input asp-for="Product.Price" class="form-control" placeholder="Price"/>
                            <label asp-for="Product.Price" class=""></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                    </div>
                    @*SUBMIT / BACK*@
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <button type="submit" class="btn btn-primary form-control"> @(create ? "Create" : "Update")</button>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <a href="#!" onclick="history.go(-1)" class="btn btn-outline-primary form-control">Back</a>
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="col-3 ms-1">
            <img src="~/@(Model.Product.ImageURL)" width="100%"/>
        </div>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    <script type="text/javascript">
        tinymce.init({
            selector: '#editor',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>

    <script type="text/javascript">

        $('.form-select').select2(
            {
                theme: 'bootstrap-5',
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
                allowClear: true,
            });

    </script>
}