@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    We have sent an email to <span class="text-primary">@Model.Email</span> with a link to confirm your account. If you do not see the email from
    <span class="text-info">NOREPLY@geronimo.design</span>, please be sure to check the spam folder. After you confirm your account, you may log in.
</p>
    }
    else
    {
<p>
    We have sent an email to <span class="text-primary">@Model.Email</span> with a link to confirm your account. If you do not see the email from
    <span class="text-info">NOREPLY@geronimo.design</span>, please be sure to check the spam folder. After you confirm your account, you may log in.
</p>
    }
}

