<form class="d-flex" role="search" method="get">
    <input class="form-control me-2" type="search" placeholder="Search books, authors, ISBNs" aria-label="Search books, authors, ISBNs">
    <button class="btn btn-dark" type="submit" >Search</button>
</form>