@model Category
@{
    bool create = @Model.Id == 0;
}
@{
    ViewData["Title"] = $"{(create ? "Create" : "Update")} Category";
}

<div class="card shadow border-0 mt-4 mb-5 col-9 offset-2">
    <div class="card-header">
        <div class="row col-12 text-center">
            <h2 class="text-primary">@(create ? "Create" : "Update") Category</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="p-3">
                @*CATEGORY NAME*@
                <div class="mt-2 row col-sm-12 col-md-6 offset-md-3 form-floating">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Category Name" />
                    <label asp-for="Name" class=""></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @*DISPLAY ORDER*@
                <div class="mt-2 mb-3 col-sm-12 col-md-6 offset-md-3 form-floating">
                    <input asp-for="DisplayOrder" class="form-control" placeholder="Display Order" />
                    <label asp-for="DisplayOrder" class=""></label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                @*SUBMIT / BACK*@
                <div class="row">
                    <div class="col-sm-6 col-md-3 offset-md-3">
                        <button type="submit" class="btn btn-primary form-control">@(create ? "Create" : "Update")</button>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control">Back</a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <script src="https://cdn.tiny.cloud/1/2ewupqynbfix7nj1m6dcobl5ub0qcn03vjog34v5ofd7boug/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <partial name="_ValidationScriptsPartial" />
    }
}